body {
    font-family: 'Open Sans';
    background-color: #fffef8;
}

.red-text {
    color: #aa182c;
}

.img-fluid {
    max-width: 100%;
    max-height: 100%;
}

p {
    font-weight: 300;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'Berlingske Serif';
    font-size: clamp(2rem, 5vw, 3rem);
}

h3 {
    font-family: 'Berlingske Serif';
    font-size: clamp(1.5rem, 4vw, 2rem);
    line-height: 1.4;
}

h4 {
    font-family: 'Berlingske Serif';
    font-size: clamp(1.25rem, 3.5vw, 1.75rem);
}

h5 {
    font-family: 'Berlingske Serif';
    font-size: clamp(1.125rem, 3vw, 1.625rem);
    margin-bottom: 0;
}

.logo {
    height: 80px;
}

.navbar {
    background-color: #fffef8;
}

.navbar .nav-link {
    color: black;
    font-weight: 600;
}

.navbar .nav-link:hover {
    color: #aa182c;
}

.navbar .nav-link.active {
    color: #aa182c;
}

.button {
    display: inline-block;
    color: white;
    background-color: #aa182c;
    border: none;
    padding: 10px 30px;
    border-radius: 22px;
    text-wrap: nowrap;
    position: relative;
    transition: all 0.3s ease;
}

.button-text {
    display: inline-block;
    transition: transform 0.3s ease;
}

.button::after {
    font-family: "FontAwesome";
    content: "\f061";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease, right 0.3s ease;
}

.button:hover .button-text {
    transform: translateX(-10px);
}

.button:hover::after {
    opacity: 1;
    right: 20px;
}

.home-banner {
    background: url('../img/home/banner.jpg') no-repeat center center/cover;
    color: white;
    height: 500px;
}

.home-banner-text {
    position: absolute;
    bottom: 20px;
    right: 12px;
    text-align: right;
    line-height: 1.2;
}

.banner-text {
    font-family: 'Berlingske Serif';
    font-size: clamp(2.5rem, 6vw, 3.75rem);
}

.banner-text-sm {
    font-family: 'Open Sans';
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    letter-spacing: 1px;
}

.learning-environment {
    background-color: #781B1B;
    color: white;
    padding: 50px 0;
}

.footer {
    background-color: #530c17;
    color: white;
    /* overflow: hidden; */
}

.footer a {
    color: white;
}

.social-icons {
    font-size: 20px;
    display: flex;
    gap: 24px;
}

.section-padding {
    padding-top: 150px;
    padding-bottom: 150px;
}

.section-padding-sm {
    padding: 75px 0;
}

.top-padding {
    padding-top: 150px;
}

.bottom-padding {
    padding-bottom: 150px;
}

.bottom-padding-sm {
    padding-bottom: 75px;
}

.welcome-text {
    text-align: center;
    width: 500px;
}

.sub-title {
    color: #aa182c;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.link {
    position: relative;
    text-decoration: none;
    color: black;
}

.link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

.link:hover::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.link:hover::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom left;
    animation: reappear 0.3s ease 0.3s forwards;
}

@keyframes reappear {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    /* transform: scaleX(1); */
}

.link-white {
    position: relative;
    text-decoration: none;
    color: white;
}

.link-white::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

.link-white:hover::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.link-white:hover::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom left;
    animation: reappear 0.3s ease 0.3s forwards;
}

.link-white::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    /* transform: scaleX(1); */
}

.scroll-move-up {
    /* margin-bottom: -100px; */
    transition: transform 0.3s ease-out;
}

.wave-bg {
    background: url('../img/Generic/bg_1.jpg') no-repeat center center/cover;
    color: white;
    height: auto;
    /* min-height: 600px; */
    display: flex;
    align-items: center;
}

.dynamic-learning-container {
    position: relative;
    overflow: hidden;
}

.dynamic-learning-image-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.dynamic-learning-img {
    max-width: 100%;
    border-radius: 50% / 40%;
}

.dynamic-learning-text {
    padding: 0 20px;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(170, 24, 44, 0.9);
    border-radius: 50% / 40%;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 0.3s ease-in-out;
}

.dynamic-learning-container:hover .dynamic-learning-text {
    bottom: 0;
}

.dynamic-learning-title {
    display: inline-block;
    padding-bottom: 10px;
}

/* .dynamic-learning-container:hover .dynamic-learning-title::after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: white;
    position: relative;
    left: 25%;
    top: 10px;
} */

.experience-franchise-bg {
    background: url('../img/Generic/bg_2.jpg') no-repeat center center/cover;
    color: white;
    height: auto;
    /* min-height: 530px; */
    display: flex;
    align-items: center;
    position: relative;
}

.experience-franchise-container {
    height: 100%;
    position: absolute;
    top: -150px;
}

.experience-franchise-wrapper .sub-title,
.experience-franchise-wrapper .title,
.experience-franchise-wrapper .link {
    color: white;
}

.experience-franchise-bg .row {
    position: relative;
}

.experience-franchise-bg .row::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 1px;
    height: 60%;
    background-color: #ccc;
    transform: translateX(-50%);
}

.experience-franchise-img {
    max-width: 100%;
    max-height: 100%;
}

.custom-bottom-padding {
    padding-bottom: 300px;
}

.news-box {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.news-box a {
    color: black;
}

.news-title {
    width: 70%;
    word-wrap: break-word;
}

.banner {
    color: white;
    height: 400px;
}

.about-banner {
    background: url('../img/about/banner_about.jpg') no-repeat 90% center/cover;
    color: white;
}

.about-banner-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sub-nav {
    background-color: #aa182c;
    padding: 10px 0;
}

.sub-nav a {
    letter-spacing: 1px;
}

.vertical-line-wrapper {
    position: relative;
    height: 150px;
}

.vertical-line {
    width: 1px;
    height: 50px;
    background-color: #aa182c;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

.vertical-line-white {
    background-color: white;
}

.child-development-icon {
    width: 50%;
}

.about-logo {
    max-width: 200px;
}

.academics-banner {
    background: url('../img/academic/banner_academic.jpg') no-repeat 25% center/cover;
}

.academics-locations-banner {
    background: url('../img/academic/banner_location.jpg') no-repeat 50% center/cover;
}

.view-locations {
    display: inline-block;
    color: white;
    font-weight: 600;
}

.locations-banner {
    background: url('../img/academic/banner_location.jpg') no-repeat 50% center/cover;
}

.franchise-banner {
    background: url('../img/franchise/banner_franchise.jpg') no-repeat 10% center/cover;
}

.franchise-footer-banner {
    background: url('../img/franchise/banner_footer.jpg') no-repeat 10% center/cover;
}

.toggle-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-container .arrow {
    transition: transform 0.3s ease;
}

.toggle-container.active .arrow {
    transform: rotate(90deg);
}

.toggle-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.toggle-content.open {
    max-height: 200px;
    opacity: 1;
}

.wave-bg-red {
    background: url('../img/Generic/bg_3.jpg') no-repeat center center/cover;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
}

.franchise-icon {
    width: 30%;
}

.step-container {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 100px;
}

.step-number {
    color: #aa182c80;
    font-family: 'Berlingske Serif';
    font-style: italic;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    z-index: 2;
}

.step-text {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 600;
    z-index: 1;
}

.contact-banner {
    background: url('../img/Generic/bg_3.jpg') no-repeat center center/cover;
}

.form-control {
    background-color: #fffef8;
}

.news-banner {
    background: url('../img/resource/banner_resource.jpg') no-repeat center center/cover;
}

.news-categories {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.news-categories.active-category {
    color: #aa182c;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.pagination {
    --bs-pagination-color: #aa182c;
    --bs-pagination-bg: #fffef8;
    --bs-pagination-hover-color: #aa182c;
    --bs-pagination-focus-color: #aa182c;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(170, 24, 44, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #aa182c;
    --bs-pagination-active-border-color: #aa182c;
}

.pt-lg-40 {
    padding-top: 40px;
}